@charset "UTF-8";

#wrap {
	width:1200px;
	min-height: 100%;
	margin:auto;
}

header {
	height : 80px;
}

header > .logo{
	width:200px;
	height : 80px;
}

.search-area{
	width:500px;
}

.main-menu {
	height:50px;
}

.image-section {
	height:200px;
}

.img-place {
	height:200px;
	width : 200px;
}

.font-small {
	font-size: 13px;
}

.font-xsmall {
	font-size: 10px;
}

.table-width{
	width: 200px;
}

footer {
	height:50px;
}